<div class="row">
  <footer class="blog-footer">
    <p>Built by <a href="email:mattailes@gmail.com">Matthew Ailes</a> on the <a href="https://www.mongodb.org/" alt="mongodb">M</a><a href="http://expressjs.com/" alt="express">E</a><a href="https://angularjs.org/" alt="angular">A</a><a href="http://nodejs.org" alt="nodejs">N</a> stack, <a href="http://getbootstrap.com" alt="bootstrap">Bootstrap</a>, and <a href="http://handlebarsjs.com" alt="handlebars">handlebars</a>.</p>
    <p>Social media icons are from <a href="https://www.iconfinder.com/iconsets/social-aquicons">Lanan Illustration</a>.</p>
    <p>All content is possibly copyrighted 2015 - {{year}} &copy;</p>
  </footer>
</div>
