<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Matthew Ailes">
  <meta name="description" content="A site for some ramblings, showing off code, and anything else I can think of.">
  <meta name="keywords" content="HTML5, CSS3, JavaScript, Node.js, MySQL, C/C++, Music, Video Games, Guitar, blog">
  <title>Matthew Ailes -- Programmer for Hire</title>
  <!-- Stylesheets and scripts -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Code+Pro:400,700|Playfair+Display+SC:400,700|Righteous' rel='stylesheet' type='text/css'>
  <!-- My stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  {{! Google ReCaptcha stuff}}
  {{#if contact}}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {{/if}}
</head>
