<div class="row">
  <div class="col-sm-offset-1 col-sm-11">
    <div class="row">
      <form role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control search" placeholder="Search (but it doesn't work)">
            <span class="input-group-btn">
              <button class="btn btn-default search" type="submit"><span class="glyphicon glyphicon-search"></span> Go!</button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="row about">
      <h4 class="text-center">About</h4>
      <p class="text-justify">Just a guy looking to program for money. I also enjoy things such as playing guitar, watching soccer (COYS!), listening to music (I enjoy almost everything), and really anything nerd related. I hope you enjoy a look into my head. Enjoy your stay.</p>
    </div>
    <div class="row archives">
      <h3>Archives</h3>
      <ul>
        <li>Test list</li>
        <li>Just placeholders</li>
        <li>Will change later</li>
      </ul>
    </div>
    <div class="row ads">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- guitar_money -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6270505157198229"
           data-ad-slot="3422320992"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
