{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
  },
  "rules": {
    "semi": [ERROR, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    'jsx-quotes': ['error', 'prefer-single'],
    'max-len': ['error', 120]
  }
}
