{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "jsx-quotes": ["error", "prefer-single"],
    "max-len": ["error", 120],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": [ERROR, "never"],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  }
}
