.cache
.forever
.npm
.pm2
.vim_runtime
.rnd
.config/htop/htoprc
.log
.eslintrc.json

.bash_history
.bash_logout
.bashrc
.profile
.vim_mru_files
.viminfo
.vimrc

.ssh/
node_modules/
tmp/

secret.js
Logs.zip
