# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env
npm-debug.log

.cache
.forever
.npm
.pm2
.vim_runtime
.rnd
.config/htop/htoprc
.log
.eslintrc.json

.bash_history
.bash_logout
.bashrc
.profile
.vim_mru_files
.viminfo
.vimrc
.gitconfig

.ssh/
tmp/

secret.js
Logs.zip
*.log
functions/
*.bundle.js

keys/
es/
.vscode

# cypress
packages/cypress/screenshots/
packages/cypress/videos/