{
  "*.{js,jsx,ts,tsx},!packages/ui-react/**": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "prettier --write",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "prettier --write",
    "git add"
  ]
}