<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>
    <div class="container">
      <!-- my page header/logo -->
      {{> header}}
      <!-- incoming navigation section -->
      {{> nav}}
      <div class="row">
        <div class="col-sm-9">
          <!-- main section -->
          {{{body}}}
        </div>
        <!-- sidebar (address, archives, maybe ads?) -->
        <div class="col-sm-3">
          {{> sidebar}}
        </div>
      </div>
      <!-- footer, put some contact type stuff down here -->
      {{> footer}}
    </div>
    {{> foot}}
  </body>

</html>
