<div class="row">
  {{#each section}}
    {{#if this.image}}
      <img src="{{{this.image}}}" class="about-image img-responsive center-block" alt="{{{this.alt}}}">
    {{/if}}
    <h3>{{this.header}}</h3>
    <p>{{this.description}}</p>
    {{#unless @last}}
      <hr>
    {{/unless}}
  {{/each}}
</div>
