<!-- navigation -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <h1>Contact</h1>
</div>
<div>
  <form>
    <fieldset>
      <legend>Contact Me</legend>
      <label>First Name:
        <input type="text" name="fname"><br>
      </label>
      <label>Last Name:
        <input type="text" name="lname"><br>
      </label>
      <label>E-Mail Address:
        <input type="email" name="email"><br>
      </label>
      <label>Message:
        <textarea name="message">
          Your message to send me.
        </textarea>
      </label>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </fieldset>
  </form>
</div>
