<div>
  <h1><strong>Education</strong></h1>
  <h3>Virginia Commonwealth University -- May 2013</h3>
  <p>Bachelor of Arts in Political Science</p>
  <br>
  <h3>Oregon State Univeristy -- June 2016</h3>
  <p>Bachelor of Science in Computer Science</p>
</div>
