button {
  cursor: pointer;
  display: inline-block;

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75);

  min-width: 100px;
  padding: 5px;

  &.primary {
    background-color: var(--button-primary);
    color: var(--body-text-primary);
  }
}
