body {
  padding: 5px;
  font: 14px 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  margin: auto;
}

.profile {
  height: 125px;
  border: 2px solid black;
  border-radius: 50%;
}

.nav {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.kylo {
  border: 2px solid black;
  border-radius: 50%;
  height: 275px;
}
