body {
  padding: 5px;
  font: 14px 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  margin: auto;
}

.profile {
  height: 125px;
  border: 2px solid black;
  border-radius: 50%;
}

.nav {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.kylo {
  border: 2px solid black;
  border-radius: 25px;
  height: 275px;
}

/* footer stuff. "borrowed" from the bootstrap example */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
