@import '../../../../node_modules/sanitize.css/sanitize.css';
@import '../../../../node_modules/sanitize.css/forms.css';

:root {
  --body-color: hsl(0, 0%, 20%);
  --body-text-primary: hsl(0, 0%, 93%);
  --body-text-secondary: hsl(193, 100%, 75%);

  --button-primary: hsl(240, 92%, 62%);

  --nav-background-color: hsl(0, 0%, 40%);
}

body {
  background-color: var(--body-color);
  color: var(--body-text-primary);
  max-width: 1024px;
  margin: 0 auto;
}

[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none;
}

a {
  display: inline-block;
  color: var(--body-text-secondary);
  cursor: pointer;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 2px;
    height: 2px;
    background-color: var(--body-text-secondary);
    transition: transform 250ms ease;
    transform: scaleX(0);
  }

  &:active::after,
  &:hover::after {
    transform: scaleX(1);
  }
}
