<div class="row">
  <form class="form-horizontal" action="/portfolio/steam" method="post">
    <legend>Search for Video Games</legend>
    <div class="form-group">
      <label for="searchTerm" class="col-sm-2 control-label">Video Game Title: </label>
      <div class="col-sm-10 input-group">
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Video Game Title" required>
        <span class="input-group-btn">
          <button class="btn btn-default search" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
        </span>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <p>{{response.steamid}}</p>
</div>
